/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
    border: 0;
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    direction: ltr !important;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table caption, table th, table td {
    text-align: left;
    vertical-align: middle;
}

a {
    color: #00acb6;
}

a img {
    border: 0;
}

:focus {
    outline: 0;
}

html, body {
    color-scheme: light;
    background: #FFF;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

:root {
    --apple-header-height: 48px;
    --apple-header-color: #333336;
    --apple-header-bg: rgba(255, 255, 255, 0.8);
    --apple-header-opacity: 1;
    --apple-header-pointer: all;
    --transition-dur: .24s;
    --transition-timing: cubic-bezier(.4, 0, .6, 1), cubic-bezier(.4, 0, .6, 1), step-start;
    --menu-item-opacity: 0;
    --menu-item-transform: translateY(-8px);
}

.isl_apple_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    background: var(--apple-header-color);
    color: var(--apple-header-color);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    z-index: 99;
    background-color: var(--apple-header-bg);
    transition-property: background-color;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-timing);
}

.isl_apple_header_start, .isl_apple_header_end {
    display: flex;
    align-items: stretch;
}

.isl_apple_header_end {
    justify-content: flex-end;
}

.isl_apple_header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1;
    width: unset;
    min-width: unset;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    padding: 0;
    color: currentColor;
    transition-property: opacity;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-timing);
}

.isl_apple_header_btn:not(.isl_apple_header_btn--ignore) {
    opacity: var(--apple-header-opacity);
    pointer-events: var(--apple-header-pointer);
}

.isl_apple_header_btn--ignore {
    animation: rainbow 18s ease infinite;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
}

#root {
    padding-top: var(--apple-header-height);
}

.menu-open {
    --apple-header-bg: white;
    --apple-header-pointer: none;
    --menu-item-opacity: 1;
    --menu-item-transform: translateY(0);
    --apple-header-opacity: 0;
}

.apple-website-img-holder {
    position: relative;
}

.apple-website-img {
    display: block;
    width: 100%;
    height: auto;
}

.apple-website-img-holder:after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-image: url("../img/screenshot.png");
    background-size: contain;
    background-repeat: repeat;
    opacity: .5;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: var(--apple-header-height);
}

.menu_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0 48px;
    font-size: 28px;
    line-height: 1.1428571429;
    color: var(--apple-header-color);
    font-weight: 600;
    text-align: start;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: none;
    text-decoration: none;
    opacity: var(--menu-item-opacity);
    transform: var(--menu-item-transform);
    transition-delay: calc(.2s + var(--menu-item-index) * 20ms);
    transition-duration: var(--transition-dur);
    transition-property: opacity, transform, visibility;
    transition-timing-function: var(--transition-timing);
}

.isl_simple {
    height: 5000px;
    text-align: center;
}

html.isl_simple_html {
    background: linear-gradient(
            to bottom,
            #ff5f6d, /* Pinkish red */ #ffc371, /* Orange-yellow */ #47cf73, /* Green mint */ #00c6ff, /* Sky blue */ #845ec2 /* Purple */
    );
}

html.isl_simple_html body {
    background: none;
}

.isl_simple_scroll {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 40px;
    text-align: center;
    z-index: 10;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.isl_simple_btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 74px;
    text-align: center;
    z-index: 10;
    font-size: 24px;
    line-height: 48px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: #FFF;
    color: #000;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 24px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.isl_simple_btn:hover {
    background: darkslategrey;
    color: #fff;
}

.isl_holder.isl_holder--simple {
    --isl-bg: rgba(0, 0, 0, 0.3);
}

.isl_holder.isl_holder--simple .isl_scroller_content {
    padding: 20px 12px;
}

.isl_simple_modal {
    --simple-padding: 12px;
    --simple-border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 300px;
    max-height: min(600px, 100%);
    margin: auto;
    background: antiquewhite;
    border-radius: var(--simple-border-radius);
    color: #000;
}

.isl_simple_modal_header {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 40px;
    border-bottom: grey 1px solid;
    padding: var(--simple-padding);
}

.isl_simple_modal_body {
    padding: var(--simple-padding);
    border-bottom: grey 1px solid;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    overflow-y: auto;
    flex: 1 1 auto;
}

.isl_simple_modal_footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    column-gap: 1px;
}

.isl_simple_modal_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    border: none;
    outline: none;
    color: inherit;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .05);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.isl_simple_modal_btn:hover {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.isl_simple_modal_btn:first-child {
    border-bottom-left-radius: var(--simple-border-radius);
}

.isl_simple_modal_btn:last-child {
    border-bottom-right-radius: var(--simple-border-radius);
}

.isl_holder.isl_holder--legal.isl_holder--open {
    --isl-zIndex: 999999;
}

.isl_legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 12px 0 env(safe-area-inset-bottom, 12px) 0;
    height: 100%;
    overflow-y: auto;
    row-gap: 12px;
    margin: auto;
}

@media (hover: hover) and (pointer: fine) {
    .isl_legal {
        max-width: 400px;
        max-height: max-content;
    }
}

.isl_legal_body {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 12px;
    font-size: 18px;
    line-height: 24px;
    word-break: break-word;
    margin: auto 0;
}

.isl_legal_footer {
    flex: 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top: auto;
}

.isl_legal_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    letter-spacing: .2px;
    font-weight: 700;
    flex: 1 1 0;
    outline: none;
    border: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.isl_legal_btn--leave {
    color: red;
    background: rgba(255, 0, 0, 0.15);
}

.isl_legal_btn--accept {
    color: green;
    background: rgba(0, 128, 0, 0.15);
}

/*# sourceMappingURL=main.css.map */
